body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F0E9;
}

nav {
    background-color:#27391C;
    text-align: center;
} 

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li{
    position: relative;
}

.menu li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.menu li a:hover{
    background-color:#255F38;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}

.sobre{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.sobre li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.sobre li a:hover{
    background-color:#255F38;
}

.servicos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.servicos li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.servicos li a:hover{
    background-color:#255F38;
}

.produtos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.produtos li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.produtos li a:hover{
    background-color:#255F38;
}

.contato{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.contato li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.contato li a:hover{
    background-color:#255F38;
}

.comentarios{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.comentarios li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.comentarios li a:hover{
    background-color:#255F38;
}
