body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F0E9;
}

nav {
    background-color:#27391C;
    text-align: center;
} 

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li{
    position: relative;
}

.menu li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.menu li a:hover{
    background-color:#255F38;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}



.inicio{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.inicio h1, .inicio h2 {
    color: #27391C;
}

.inicio p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.inicio ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.inicio ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.sobre{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.sobrePage{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.sobre li a:hover{
    background-color:#255F38;
}

.sobrePage h1, .sobrePage h2 {
    color: #27391C;
}

.sobrePage p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.sobrePage ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.sobrePage ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sobre li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}

.servicos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.servicosPage{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.servicos li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.servicos li a:hover{
    background-color:#255F38;
}
.servicosPage h1, .servicosPage h2 {
    color: #27391C;
}

.servicosPage p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.servicosPage ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.servicosPage ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.servicos li:hover .submenu{
    display: block;
}

.servicos li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}

  .produtos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.produtosPage{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.produtos li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.produtos li a:hover{
    background-color:#255F38;
}
.produtosPage h1, .produtosPage h2 {
    color: #27391C;
}

.produtosPage p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.produtosPage ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.produtosPage ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.produtos li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}

.contato{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.contatoPage{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.contato li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.contato li a:hover{
    background-color:#255F38;
}
.contatoPage h1, .contatoPage h2 {
    color: #27391C;
}

.contatoPage p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.contatoPage ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.contatoPage ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contato li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}

.comentarios{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.comentariosPage{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.comentarios li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.comentarios li a:hover{
    background-color:#255F38;
}

.comentariosPage h1, .comentariosPage h2 {
    color: #27391C;
}

.comentariosPage p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.comentariosPage ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.comentariosPage ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comentarios li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}

.produto1{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.produto1Page{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.produto1 li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.produto1 li a:hover{
    background-color:#255F38;
}

.produto1Page h1, .produto1Page h2 {
    color: #27391C;
}

.produto1Page p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.produto1Page ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.produto1Page ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #27391C;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.produto1 li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}

.produto2{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.produto2Page{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.produto2 li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.produto2 li a:hover{
    background-color:#255F38;
}

.produto2Page h1, .produto2Page h2 {
    color: #27391C;
}

.produto2Page p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.produto2Page ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.produto2Page ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.produto2 li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}


.produto3{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.produto3Page{
    padding: 40px 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.produto3 li a{
    display: block;
    padding: 25px 30px;
    color:white;
    text-decoration: none;
}

.produto3 li a:hover{
    background-color:#255F38;
}

.produto3Page h1, .produto3Page h2 {
    color: #27391C;
}

.produto3Page p {
    font-size: 1rem;
    line-height: 1;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
}

.produto3Page ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}

.produto3Page ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 5px;
}

.produto3 li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 20px 25px;
}

.submenu li a:hover {
    background-color: #2b974f;
}


img {
    width: 500px;
    height: 300px;
    object-fit: cover; 
  }

footer {
    background-color: #27391C;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

footer p {
    margin: 0;
}
